{% extends "base.html"%}

{% block content%}
    {% if user %}
        <form action="{{url_for('main.edit_profile_admin', id=user.id)}}" method="post">
            {{form.csrf_token}}
            <h3 align="center">{{form.email.label}}&ThinSpace;{{form.email()}}</h3>
            <h3 align="center">{{form.username.label}}&ThinSpace;{{form.username()}}</h3>
            <h3 align="center">{{form.confirmed.label}}&ThinSpace;{{form.confirmed()}}</h3>
            <h3 align="center">{{form.role.label}}&ThinSpace;{{form.role()}}</h3>
            <h3 align="center">{{form.name.label}}&ThinSpace;{{form.name()}}</h3>
            <h3 align="center">{{form.location.label}}&ThinSpace;{{form.location()}}</h3>
            <h3 align="center">{{form.about_me.label}}&ThinSpace;{{form.about_me()}}</h3>
            <h3 align="center">{{form.submit()}}</h3>
        </form>
    {%else%}
        <form action="{{url_for('main.edit_profile')}}" method="post">
            {{form.csrf_token}}
            <h3 align="center">{{form.username.label}}&ThinSpace;{{form.username()}}</h3>
            <h3 align="center">{{form.name.label}}&ThinSpace;{{form.name()}}</h3>
            <h3 align="center">{{form.location.label}}&ThinSpace;{{form.location()}}</h3>
            <h3 align="center">{{form.about_me.label}}&ThinSpace;{{form.about_me()}}</h3>
            <h3 align="center">{{form.submit()}}</h3>
            
        </form>
    {%endif%}
{% endblock%}